@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Monaspace-Neon';
  src: url(/MonaspaceNeonVarVF.woff2) format('woff2');
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 31, 32, 37;
  --background-end-rgb: 31, 32, 37;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 31, 32, 37;
    --background-end-rgb: 31, 32, 37;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
